<div>
    <div class="alert alert-warning alert-dismissible" id="alert" ng-show="alertShow">
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" ng-click="alertShow = false"
                type="button"></button>
        <strong>Warning:</strong>
        Version {{ pypi_version }} is now available, while you are still using version {{ dashboard_version }}.<br>
        To upgrade run the following command on your server: <code>pip install --upgrade
        flask_monitoringdashboard</code>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h4>Dashboard Overview</h4>
        </div>
        <div class="card-body">
            <div class="spinner" ng-controller="FormController" ng-show="table.length === 0">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item" ng-class="{'active': isHits}">
                    <a class="page-link" href="#" ng-click="toggleHits()">Number of hits</a>
                </li>
                <li class="page-item" ng-class="{'active': !isHits}">
                    <a class="page-link" href="#" ng-click="toggleHits()">Median request duration (ms)</a>
                </li>
            </ul>

            <div class="row mb-3">
                <div class="col-md-6 col-lg-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Search:</span>
                        <input class="form-control" ng-model="searchQuery"/>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Blueprint:</span>
                        <select class="form-select" ng-model="selectedBlueprint">
                            <option ng-repeat="blueprint in blueprints track by $index" value="{{ blueprint }}">{{
                                blueprint }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Show</span>
                        <select class="form-select" name="ddwa" ng-model="pageSize">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span class="input-group-text">entries</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-sm">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Endpoint</th>
                            <th ng-show="isHits">Today</th>
                            <th ng-show="isHits">Last 7 days</th>
                            <th ng-show="isHits">Overall</th>
                            <th ng-show="!isHits">Today</th>
                            <th ng-show="!isHits">Last 7 days</th>
                            <th ng-show="!isHits">Overall</th>
                            <th>Last requested</th>
                            <th>Monitoring-level<sup>*</sup></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-click="go('/endpoint/' + row.id + '/hourly_load')"
                            ng-repeat="row in getFilteredItems() track by $index" style="cursor: pointer">
                            <td style="background-color: {{ row.color }}"></td>
                            <td class="align-middle">{{ row.name }}</td>
                            <td class="table_cell_with_error_count align-middle"
                                ng-attr-error-count="{{ (row['hits-today-errors'] > 0) ? row['hits-today-errors'] : ''}}"
                                ng-show="isHits" style="text-align: right;">
                                {{ row['hits-today'] | number }}
                            </td>
                            <td class="table_cell_with_error_count align-middle"
                                ng-attr-error-count="{{ (row['hits-week-errors'] > 0) ? row['hits-week-errors'] : ''}}"
                                ng-show="isHits" style="text-align: right;">
                                {{ row['hits-week'] | number }}
                            </td>
                            <td class="align-middle" ng-show="isHits" style="text-align: right;">
                                {{ row['hits-overall'] | number }}
                            </td>
                            <td class="align-middle" ng-show="!isHits" style="text-align: right;">
                                {{ row['median-today'] | duration_ms }}
                            </td>
                            <td class="align-middle" ng-show="!isHits" style="text-align: right;">
                                {{ row['median-week'] | duration_ms }}
                            </td>
                            <td class="align-middle" ng-show="!isHits" style="text-align: right;">
                                {{ row['median-overall'] | duration_ms }}
                            </td>
                            <td class="align-middle" style="text-align: center;">
                                {{ row['last-accessed'] | dateDifference }}
                            </td>
                            <td ng-click="$event.stopPropagation()">
                                <monitorlevel name="row.name" value="row.monitor"></monitorlevel>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation example" style="float: right">
                        <ul class="pagination">
                            <li class="page-item" ng-class="{'disabled': !canGoBack()}">
                                <a class="page-link" href="#" ng-click="previousPage()">Previous</a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': !canGoForward()}">
                                <a class="page-link" href="#" ng-click="nextPage()">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h5><sup>*</sup>Monitoring-level</h5>
        </div>
        <div class="card-body">
            <h6><strong>0 - Disabled</strong></h6>
            <p>
                When the monitoring-level is set to 0, you don't monitor anything about the performance of this
                endpoint.
                The only data that is stored is when the <strong>endpoint is last requested.</strong>
            </p>
            <h6><strong>1 - Performance</strong></h6>
            <p>
                When the monitoring-level is set to 1, you collect data when the endpoint is last requested, plus data
                about the <strong>performance and utilization</strong> of this endpoint (as a black-box).
            </p>
            <h6><strong>2 - Outliers</strong></h6>
            <p>
                When the monitoring-level is set to 2, you get all the functionality from 1, plus <strong>extra
                information
                if the request is an outlier.</strong>
            </p>
            <h6><strong>3 - Profiler + Outliers</strong></h6>
            <p>
                When the monitoring-level is set to 3, you get all the functionality from 2, plus data about the
                <strong>performance
                    per line of code</strong> from all requests.
            </p>
        </div>
    </div>
</div>
