<h1>Reporting</h1>
<p>Generate a report to get more insight into how the performance of your service is changing.</p>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="details-modal" class="modal fade" id="details-modal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ selectedSummary.endpoint_name }} - Median latency
                    {{ selectedAnswer.percentual_diff > 0 ? 'increased' : 'decreased' }}
                    by
                    {{ selectedAnswer.percentual_diff | abs | number:1 }}%
                </h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div id="chart"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a href="#"
                   ng-class="activeSection == 'day' ? 'nav-link active' : 'nav-link'"
                   ng-click="selectSection('day')">{{ currentDay }} vs {{ yesterday }}</a>
            </li>
            <li class="nav-item">
                <a href="#"
                   ng-class="activeSection == 'week' ? 'nav-link active' : 'nav-link'"
                   ng-click="selectSection('week')">Week {{ currentWeekNumber }} vs Week {{ previousWeekNumber }}</a>
            </li>
            <li class="nav-item">
                <a href="#"
                   ng-class="activeSection == 'month' ? 'nav-link active' : 'nav-link'"
                   ng-click="selectSection('month')">{{ monthName }} vs {{ previousMonthName }}</a>
            </li>
            <li class="nav-item">
                <a href="#"
                   ng-class="activeSection == 'commits' ? 'nav-link active' : 'nav-link'"
                   ng-click="selectSection('commits')">Compare commits</a>
            </li>
            <li class="nav-item">
                <a href="#"
                   ng-class="activeSection == 'custom' ? 'nav-link active' : 'nav-link'"
                   ng-click="selectSection('custom')">Custom</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div ng-show="activeSection == 'custom'">
            <div>
                <div class="input-group">
                    <input class="form-control" ng-model="intervals.comparison.from" type="datetime-local">
                    <input class="form-control" ng-model="intervals.comparison.to" type="datetime-local">
                </div>
            </div>

            <p class="text-center mt-3">Compared to</p>

            <div class="mt-3 mb-3">
                <div class="input-group">
                    <input class="form-control" ng-model="intervals.baseline.from" type="datetime-local">
                    <input class="form-control" ng-model="intervals.baseline.to" type="datetime-local">
                </div>
            </div>
            <hr>
        </div>
        <div ng-show="activeSection === 'commits'">
            <div>
                <div class="input-group">
                    <select class="form-control" ng-model="commitVersion">
                        <option ng-repeat="version in versions" value="{{ version.version }}">
                            {{ version.date | dateLayout }} : {{ version.version }}
                        </option>
                    </select>
                </div>
            </div>

            <p class="text-center mt-3">Compared to</p>

            <div class="mt-3 mb-3">
                <div class="input-group">
                    <select class="form-control" ng-model="baseLineCommitVersion">
                        <option ng-repeat="version in versions" value="{{ version.version }}">
                            {{ version.version }}
                        </option>
                    </select>
                </div>
            </div>
            <hr>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center pt-3">
            <div class="mb-3 mb-md-0">
                <button ng-class="generating == true ? 'btn btn-primary disabled' : 'btn btn-primary'"
                        ng-click="generateReport()" type="button">
                    <i class="fas fa-spinner fa-spin" ng-show="generating"></i>
                    {{ generating ? 'Generating...' : 'Generate' }}
                </button>
                <span class="text-danger">{{ error }}</span>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="exampleCheck1" ng-model="onlyShowInteresting" type="checkbox">
                <label class="form-check-label" for="exampleCheck1">Only Show Significant Results</label>
            </div>
        </div>
        <hr/>
        <div class="card">
            <div class="card-body">
                <div class="text-center" ng-show="!reports[activeSection]">
                    <i>No report generated yet</i>
                </div>

                <div ng-repeat="summary in reports[activeSection].summaries">
                    <div ng-show="summary.has_anything_significant && !onlyShowInteresting">
                        <h1>{{ summary.endpoint_name }}</h1>

                        <ul class="list-group" ng-repeat="answer in summary.answers">
                            <li class="list-group-item" ng-show="answer.is_significant && !onlyShowInteresting">
                                <div ng-switch="answer.type">
                                    <div ng-switch-when="MEDIAN_LATENCY" style="padding-bottom: 15px">
                                        <h4 ng-class="answer.percentual_diff > 0 ? 'text-danger' : 'text-success'">
                                            Median latency
                                            {{ answer.percentual_diff > 0 ? 'increased' : 'decreased' }}
                                            by
                                            {{ answer.percentual_diff | abs | number:1 }}%
                                        </h4>
                                        <p>From {{ answer.baseline_median | number:1 }}ms to {{ answer.median | number:1
                                            }}ms</p>

                                        <button class="btn btn-secondary btn-sm" data-bs-target="#details-modal"
                                                data-bs-toggle="modal"
                                                ng-click="selectEntry(summary, answer)" type="button">
                                            Details
                                        </button>
                                    </div>

                                    <div ng-switch-when="STATUS_CODE_DISTRIBUTION">
                                        <h4>Distribution of status code changed</h4>

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Status code</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="r in answer.percentages">
                                                <td>{{ r.status_code }}</td>
                                                <td>{{ r.baseline | number:1 }}% -> {{ r.comparison | number:1 }}%</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
