click
apscheduler
flask                 # for monitoring the web-service
sqlalchemy            # for database support
configparser          # for parsing the config-file
psutil                # for logging extra CPU-info
colorhash             # for hashing a string into a color
numpy                 # for computing median and other stats
pytz                  # for timezone info
tzlocal               # for figuring out the local timezone
loguru                # logging
