{% extends "fmd_base.html" %}
<title>{{ title_name }} | Login</title>
{% block body %}
<body>
<div class="container py-5">
    {% if show_login_banner %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-4">
                <img alt="Header Image"
                     class="img-fluid" src="{{ url_for(blueprint_name + '.static', filename='img/header.png') }}">
            </div>
                <p class="text-center">Automatically monitor the evolving performance of Flask/Python web services</p>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h5 class="card-title">Login</h5>
                </div>
                <div class="card-body">
                    <form action="login" class="form" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="mb-3">
                            <label class="form-label" for="formName">
                                <i class="fas fa-user"></i> Login
                            </label>
                            <input autofocus
                                   class="form-control"
                                   id="formName"
                                   name="name"
                                   placeholder="Username"
                                   required
                                   type="text"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="formPassword">
                                <i class="fas fa-lock"></i> Password
                            </label>
                            <input class="form-control"
                                   name="password"
                                   placeholder="Password"
                                   required
                                   type="password"/>
                        </div>
                        <button class="btn btn-primary btn-block" name="Login">Login</button>
                    </form>
                    <hr/>
                    {% if show_login_footer %}
                    <div class="text-center">
                        For advanced documentation, see
                        <a href="https://flask-monitoringdashboard.readthedocs.io/en/latest/"
                           target="_blank">this site</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}